
#content {
    padding-bottom: 100px;
}

#page-title {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: "Open Sans Bold", sans-serif;;
}


/* =========================================== */