header {
    margin-top: 15px;
}

/* =========================================== */

body, html {
    height:100%;
    margin:0;
    background-color: ghostwhite;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(223, 223, 223));

    font-family: 'Open Sans', sans-serif;
}

/* =========================================== */

.navbar {
    border-bottom: 1px solid;
    border-color: rgb(187, 187, 187);
}
.navbar-brand {
    color: rgb(80, 80, 80);
}


#me {
    height: 180px;
  }
#intro {
  margin-top: 100px;
  margin-bottom: 100px;
}
#intro-right {
    /* margin-right: 25px; */
}
#intro-left {
    /* margin-left: 25px; */
}
#greeting-1 {
  font-size: 35px;
  color: rgb(80, 80, 80);
}
#greeting-2 {
  font-size: 20;
  color: rgb(80, 80, 80);
}


/* =========================================== */


#front-buttons {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: auto;
}
.front-button {
    background-color: rgba(255, 222, 173, 0);
    font-size: medium;
    color: rgb(124, 124, 124);
    border-radius: 1px;
    padding-left: 0px;
    border: none;
    text-decoration: none;
    
    -webkit-transition-timing-function: ease-in;
    transition-timing-function        : ease-in;
    transition-delay                  : 0.0s;
    transition                        : 0.4s all;
}
.front-button:hover {
    color: rgb(27, 27, 27);
    background-color: rgba(114, 114, 114, 0);
    border-bottom: 1px ;
    cursor: pointer;
    padding-left: 20px;
    border-left: 1px solid;
    /* font-weight: bold; */
    font-style: italic;
}


/* =========================================== */


#footer {
  color: rgb(51, 51, 51);
  font-size: 11px;
  text-align: center;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 40px;
}
