#content {
    padding-bottom: 100px;
  }
  
  #page-title {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: "Open Sans Bold", sans-serif;
  }
  
  /* =========================================== */

  
  .card {
    max-width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(201, 201, 201, 0.5);
    border: 0px;
    border-radius: 1px;
    filter: grayscale(100%);
  
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out;
  }
  .card:hover {
    filter: grayscale(0%);
    transform: translateY(-10px);
    background-color: rgba(158, 158, 158, 0.5);
  }

  .card-text {
    font-size: 12px;
    /* font-weight: bold; */
    font-style: italic;
  }


.card-columns a {
  text-decoration: none;
  color: inherit;
} 


  @media (max-width : 450px) {
    .card {filter: grayscale(0%);}
}

@media only screen 
and (max-device-height : 768px) 
and (max-device-width : 1024px)
{
  .card {filter: grayscale(0%);}
}